body {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.content {
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.horoscope {
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для гороскопа */
    padding: 10px;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    background-color: #ffd700; /* Цвет кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffcc00; /* Изменение цвета при наведении */
}
